params {

    input = null
    fasta = './misc/rCRS.fa'
    outdir = '.'
    contig = 'rCRS'
    matched = true
    rnaseq = false
    cram_fasta = "./misc/NO_FILE"
    gnomad_vcf = "./misc/gnomad.genomes.v3.1.sites.chrM.vcf.bgz"
    workflows = "variant-calling,cn,depths"

    // VEP params
    vep_species = 'homo_sapiens'
    vep_genome = 'GRCh38'
    vep_cache_version = 114
    vep_cache = "./"
    
    //purity = false

    hmtdb = './rtn/humans.{fa,fa.fai,fa.amb,fa.ann,fa.bwt,fa.pac,fa.sa}'
    numts = './rtn/Calabrese_Dayama_Smart_Numts.{fa,fa.amb,fa.ann,fa.bwt,fa.pac,fa.sa}'
}

profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }

    gel {
        includeConfig 'conf/gel.config'
    }

    singularity {
        includeConfig 'conf/singularity.config'
    }

}

process {
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
    maxRetries = 3
}
