process {
    
    clusterOptions = '-P re_gecip_cancer_pan -R rusage[mem=7000] -M 7000'
    disk = false
    queue = "short"

    withLabel: bigmem {
        queue = "medium"
        clusterOptions = '-P re_gecip_cancer_pan -R rusage[mem=15000] -M 15000'
    }

}

executor {
    name = 'lsf'
    queueSize = 300
}

singularity {
    runOptions = '--bind /re_gecip/cancer_pan/rsilk'
}

includeConfig 'singularity.config'
